@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    height: 110vh;
    background-color: var(--branco);
    color: rgb(103, 103, 103);
    max-width: 1300px;
    margin: 1.8rem auto;
    padding: 0;
    font-family: "Poppins", "sans-serif";
}
:root{
    --branco: #F2F2F2;
    --azul-marinho: #075473;
    --azul-verde: #065F73;
    --verde: #16AD8B;
    --verdedark: #11856B;
    --preto: #17181f;
}

/* Header*/
header{
    box-sizing: border-box;
    padding: 10px;
}

.title {
    margin: 0 77% 2rem 3.5rem;
    padding: 10px;
    line-height: 2.8rem;
}

.subtitle_1{
    font-size: 52px;
    font-weight: 700;
    font-style: normal;
}

.subtitle_2 {
    font-size: 46px;
    font-weight: 500;
    font-style: normal;
}

.nav-menus {
    margin: 0;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border-radius: 22px;
    overflow: hidden;
    height: 80px;
    background-color: var(--verde);

}

.menus {
    margin-left: 70px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.buttons {
    padding: 4px 45px 4px 45px;
    color: var(--branco);
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    border: solid 2px var(--branco);
    border-radius: 10px;
    transition: 0.3s all;
    cursor: pointer;
}

.buttons:hover {
    background-color: var(--branco);
    color: var(--verde);
    transition: 0.5s all;
}

.button_login {
    margin: 15px 80px 0 0;
    padding: 4px 40px 4px 40px;
    color: var(--branco);
    background-color: var(--verde);
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    border-radius: 10px;
    border: solid 2px var(--branco);
    transition: 0.3s all;
    cursor: pointer;
}

.button_login:hover {
    margin: 15px 80px 0 0;
    padding: 4px 40px 4px 40px;
    background-color: var(--branco);
    border: solid 2px var(--verde);
    color: var(--verde);
    transition: 0.3s all;
}

/*Main*/
.container{
    width: 90%;
    height: 80vh;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
.texts{
    float: left;
    margin: 10px;
    width: 620px;
    height: 70vh;
}
.texts h1{
    width: 620px;
    height: 10%;
    font-size: 40px;

}
.texts p{
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}
.button-reservar{
    margin: 20px 34.5%;
    padding: 4px 40px 4px 40px;
    color: var(--verde);
    background-color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    border-radius: 10px;
    border: solid 2px var(--verde);
    transition: 0.3s all;
    cursor: pointer;
}
.button-reservar:hover {
    margin: 20px 34.5%;
    padding: 4px 40px 4px 40px;
    background-color: var(--verde);
    border: solid 2px var(--verde);
    color: #ffffff;
    transition: 0.3s all;
}

article{
    float: left;
}

.image {
    float: left ;
    width: 450px;
    height: 550px;
    transition: 0.3s all;
    z-index: 1;

}

.image:hover {
    width: 490px;
    height: 605px;
    transform: rotate(10deg);
    transition: 0.3s all;
}

/*Footer*/
footer {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_list{
    list-style-type: none;
    text-decoration: none;
}
#footer_content{
    width: 100%;
    height: 70%;
    background-color: #16AD8B;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 3.5rem;
    border-radius: 40px;
    text-decoration: none;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
    color: #fff;
    text-decoration: none;
}
#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
    justify-content: center;

}
#footer_social_media .footer-texts{
    display: flex;

    color: #F2F2F2;

    transition: all 0.4s;
}
#footer_social_media .footer-texts:hover {
    opacity: 0.8;
}
.footer_link{
    text-decoration: none;
}
#instagram {
    margin: 10px;
    padding: 6px 9px;
    font-size: 1.5rem;
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
#facebook{
    margin: 10px;
    padding: 6px 12px;
    font-size: 1.5rem;
    background-color: #4267b3;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

}
#whatsapp{
    margin: 10px;
    padding: 6px 12px;
    font-size: 1.5rem;
    background-color: #25d366;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

}

#footer_subiscribe{
    color: #fff;
}
#input_group{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
}
#input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}
#input_group button{
    background-color: var(--verdedark);
    border: none;
    color: #F2F2F2;
    padding: 0 1.9rem;
    font-size: 1.125rem;
    height: 50px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
#input_group button:hover{
    opacity: 0.8;
}
