@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: "Poppins", serif ;
}
:root{
    --branco: #F2F2F2;
    --azul-marinho: #075473;
    --azul-verde: #065F73;
    --verde: #16AD8B;
    --verdedark: #11856B;
    --preto: #17181f;
}

header{
    background-color: var(--verde);
    max-width: 100%;
    padding: 0 5%;
    margin: 0 auto;
}
.btn-login{
    padding: 10px 25px;
    color: var(--branco);
    background-color:  var(--azul-verde);
    border: 1px solid var(--preto);
    cursor: pointer;
    border-radius: 10px;
}
.btn-login:hover{
    background-color: var(--azul-marinho);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: var(--azul-verde);
}
ul{
    display: flex;
    align-items: center;
}
ul li{
    margin: 0 35px;
    font-size: 15px;
}
ul li a{
    color: white;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

footer{
    bottom: 0;
    position: fixed;
    height: 60px;
    width: 100%;
    text-align: center;
    background-color: var(--verde);
    color: var(--branco);
}
.grupo{
    float: left;
}
.contatos{
    float: right;
}